.container {
  height: 100%;
  color: white;
  background: linear-gradient(120deg, var(--primary-blue) 0%, var(--primary-green) 70%, var(--primary-orange) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 1rem;
  width: 30rem;
}
