.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  background: linear-gradient(
    120deg,
    var(--primary-blue) 0%,
    var(--primary-green) 70%,
    var(--primary-orange) 100%
  );
}
